h1, p{
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: left;
    padding-left: 14vw;
}

h1{
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 4vh;
    margin: 0%;
}

p{
    font-size: 13px;
    font-weight: 400;
    margin: 0%;
    margin-right: 3vw;
}

